*{
    margin: 0;
    padding: 0;
    /* font-family: Impact, Arial, sans-serif; */
}

.arealogo{
    text-align: center;
    margin: auto;
    padding: 0;
    background-color: rgb(94, 11, 172);
    width: 600px;
}

.navbar{
    text-align: center;
    margin: auto;
    padding: 0;
    background-color: rgb(40, 22, 43);
    /*background-color: rgb(0, 204, 255);*/
    width: 600px;
    height: 30px;
    font-size: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navitem{
    display: inline-block;
    background-color: rgb(40, 22, 43);
    width: 20%;
    height: 30px;
    line-height: 30px;
    margin: auto;
    text-align: center;
    padding: 0;
    font-size: 15px;
    text-decoration: none;
    color: rgb(247, 228, 193);
    box-sizing: border-box;
}

.navitem:hover{
    width: 20%;
    height: 30px;
    border: 2px solid rgb(247, 228, 193);
    box-sizing: border-box;
    text-decoration: underline;
}

.areasite{
    width: 600px;
    height: auto;
    background-image: url("./assets/imagens/windows-95-clouds-kfioe6hnh3x8zn4z.png");
    background-size: cover;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    overflow: hidden;
}



.rodape{
    width: 600px;
    height: 80px;
    margin: auto;
    background-color: rgb(94, 11, 172);
    
    
}


.logorodape img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 30px;
    
}

.logorodape p{
    color: rgb(247, 228, 193);
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 14px; */
    margin: auto;
    text-align: center;
   float: right;
   padding-right: 140px;
   margin-top: 35px;
}

.gifconst1{
    margin-top: -10px;
    margin-bottom: 30px;
    
}

.gifconst2{
    margin-top: 50px;
    margin-bottom: 20px;
}

.web{
    width: 400px;
    height: 300px;
}



.noticia{
    width: 35%;
    height: 300px;
    margin: auto;
    float: left;
    margin-left: 60px;
    margin-bottom: -50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.noticia img{
    width: 100%;
    height: 150px;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.507);
}

.noticia img:hover{
    border: 2px solid rgb(94, 11, 172);
}

.noticia h3{
    text-align: center;
    margin: auto;
    font-size: 14px;
    color: rgb(94, 11, 172);
    font-style: normal;
    
}

.noticia a{
    text-decoration: none;
}

.notica,  a:hover{
    text-decoration: underline;
}

.clear{
    clear: both;
}


.oracaoNet img{
    width: 35%;
    height: 350px;
    float: left;
    margin-left: 60px;
    border: 2px solid rgba(0, 0, 0, 0.507);
}

.oracaoNet img:hover{
    border: 2px solid rgb(94, 11, 172);
}


